[Unit]
Description=LED-blink test

[Service]
Type=simple
ExecStart=/usr/bin/blink-led
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
