[Unit]
Description=Blink system LED depending on RAUC status
After=rauc.service

[Service]
Type=oneshot
ExecStart=/usr/bin/blink-led

[Install]
WantedBy=multi-user.target
