[Unit]
Description=OSB AWS Client
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/awsclient
WorkingDirectory=/mnt/config/aws/
TimeoutStartSec=15m

[Install]
WantedBy=multi-user.target
